[AWS]
KEY=AKIASPX2BJ2GQRILVTYF
SECRET=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

[DWH] 
DWH_CLUSTER_TYPE=single-node
DWH_NUM_NODES=1
DWH_NODE_TYPE=dc2.large

DWH_IAM_ROLE_NAME=redshiftS3Access
DWH_CLUSTER_IDENTIFIER=capstone_cluster1743
DWH_DB=capstone_db
DWH_DB_USER=capstoneawsuser
DWH_DB_PASSWORD=shing2*3Lds!
DWH_PORT=5439